.page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-family: var(--font-geist-sans);
  background: var(--bg-page);
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .page {
    padding: 16px;
  }
}
